<?xml version="1.0" encoding="utf-8"?>
<robot name="smart_arm"  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace></robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <legacyModeNS>true</legacyModeNS>
      </plugin>
  </gazebo>

</robot>