<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="smart_arm">


    <xacro:include filename="$(find smart_arm_description)/urdf/smart_arm_description.urdf.xacro"/>
    <xacro:include filename="$(find smart_arm_description)/urdf/smart_arm_transmissions.urdf.xacro"/>
    <xacro:include filename="$(find smart_arm_description)/urdf/smart_arm_plugins.urdf.xacro"/>

    <!-- actual transmission -->
    <xacro:smart_arm_transmission joint_name="wrist_joint"/>
    <xacro:smart_arm_transmission joint_name="wrist_lower_joint"/>
    <xacro:smart_arm_transmission joint_name="wrist_middle_joint"/>
    <xacro:smart_arm_transmission joint_name="wrist_upper_joint"/>

    <xacro:smart_arm_transmission joint_name="pinky_1_joint"/>
    <xacro:smart_arm_transmission joint_name="pinky_2_joint"/>
    <xacro:smart_arm_transmission joint_name="pinky_3_joint"/>

    <xacro:smart_arm_transmission joint_name="ring_1_joint"/>
    <xacro:smart_arm_transmission joint_name="ring_2_joint"/>
    <xacro:smart_arm_transmission joint_name="ring_3_joint"/>

    <xacro:smart_arm_transmission joint_name="middle_1_joint"/>
    <xacro:smart_arm_transmission joint_name="middle_2_joint"/>
    <xacro:smart_arm_transmission joint_name="middle_3_joint"/>

    <xacro:smart_arm_transmission joint_name="pointer_1_joint"/>
    <xacro:smart_arm_transmission joint_name="pointer_2_joint"/>
    <xacro:smart_arm_transmission joint_name="pointer_3_joint"/>

    <xacro:smart_arm_transmission joint_name="thumb_1_joint"/>
    <xacro:smart_arm_transmission joint_name="thumb_2_joint"/>

</robot>