<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  </include>

  <param name="robot_description" command="$(find xacro)xacro '$(find smart_arm_description)/urdf/smart_arm.urdf.xacro' --inorder "/>

  <node 
    name="urdf_spawner" 
    pkg="gazebo_ros" 
    type="spawn_model" 
    args="-urdf -param robot_description -model smart_arm -x 0 -y 0 -z 0.0 -P 0 -R 0 -Y 0" 
    respawn="false" 
    output="screen" />

  <rosparam file="$(find smart_arm_control)/config/controllers.yaml" command="load" />

  <node  name="controller_spawner"  pkg="controller_manager"  type="spawner"
    args=" 
        smart_arm_state_controller
        wrist_position_controller 
        pinky_position_controller
        ring_position_controller
        middle_position_controller
        pointer_position_controller
        thumb_position_controller
      " 
    respawn="false" 
    output="screen">
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
  </node>
  
  <node name="smart_arm_rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" respawn="false" output="screen">
  </node>

  <!-- <node name="smart_arm_rviz_node" pkg="rviz" type="rviz" respawn="false" output="screen" args=" -d '$(find smart_arm_control)/config/smart_arm_rviz.rviz'">
  </node> -->

</launch>